/*Pirates Outlaws FAQ stylesheet*/

img {
  width: 100%;
  height: auto;
}

ul {
  padding: 0px 0px 0px 16px;
}

h4 {
  margin: 5px 0px 0px 0px;
}

.dark_gray_div {
  background: #DDD;
  margin: 0px 5px 0px 5px;
}

.faq_top {
  font-family: Helvetica;
  margin: 0px;
  padding: 0px;
}

.helvetica {
  font-family: Helvetica;
  margin: 0px;
  padding: 0px;
}

.section_spaced {
  margin: 0px 0px 10px 0px;
}

.container_spaced {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  width: 98%;
  margin: 0px 0px 10px 0px;
}

/* This targets the FAQ list items */
section.faq li{
  margin-bottom: 20px;
}

/* Style for mobile devices */
@media only screen and (max-device-width: 400px) {
  h1 {
    font-size: 70px;
  }

  h3 {
    font-size: 60px;
  }

  section {
    font-size: 50px;
    margin: 0px 10px 0px 0px;
  }

  .section_spaced {
    margin: 0px 10px 30px 0px;
  }
  .container_spaced {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 98%;
    margin: 0px 0px 10px 0px;
  }
}


/* For tablets maybe? Not sure. */
@media only screen and (min-device-width: 401px) and (max-device-width: 800px) {
  section {
    font-size: 30px;
    margin: 0px 0px 16px 0px;
  }
}